<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.yszc.blog.dao.ArticleDao" >
    <resultMap id="queryForListMap" type="com.yszc.blog.dto.Article">  
        <id column="id" property="id" jdbcType="VARCHAR"/>  
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="article" property="article" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="DATE" />
        <result column="updated_time" property="updatedTime" jdbcType="DATE" />
        <!-- 1对1 用association 1对多用collection  -->
        <association property="user" javaType="com.yszc.blog.dto.User">  
            <id column="id" property="id" jdbcType="VARCHAR" />  
            <result column="user_name" property="userName" jdbcType="VARCHAR" />  
        </association>  
        <!-- 郁闷：页面得到的tag的id为什么都是1 
        	改为<id column="id" property="id" jdbcType="INTEGER" />后，又只能得到1条tag的值
        	留下疑问，以后探索。	2017年7月22日20:54:05
        -->
        <collection property="tags" ofType="com.yszc.blog.dto.Tag">
            <result column="id" property="id" jdbcType="INTEGER" />  
            <result column="name" property="name" jdbcType="VARCHAR" />  
        </collection>
    </resultMap>  
  
    <!-- 查询文章列表-->  
    <select id="getAllArticle" resultMap="queryForListMap">  
        select  
        	a.id,
        	a.title,
        	a.article,
        	a.type,
        	t.name,
        	u.user_name,
        	a.created_time,
        	a.updated_time
        from 
        	article a
        left join 
        	user u 
        on 
        	a.user_id = u.id
        left join 
        	article_tag at
        on
        	at.article_id = a.id
        left join
        	tag t
        on
        	t.id = at.tag_id
        order by a.id,t.id
    </select>  
    
    
      <!-- 新建blog -->
	<insert id="insertArticle" parameterType="com.yszc.blog.dto.Article"
	useGeneratedKeys="true" keyProperty="id">
		insert into
		article(id,title,article,type,user_id,created_time,updated_time)
		values(#{id},#{title},#{article},#{type},#{user.id},#{createdTime},#{updatedTime})
	</insert>

	<!-- 新增关联关系的内容 -->
	<insert id="insertArticleTag" parameterType="com.yszc.blog.dto.Article">
		insert into article_tag(article_id,tag_id)
		(
			select 
				a.id,t.id
			from 
				article a,tag t
			where 
				a.id = #{id} 
			and 
				t.id IN 
			<foreach collection="tags" item="tag"  open="(" separator="," close=")">
				#{tag.id}
			</foreach>
		)
	</insert>
    
      
</mapper>  